<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head"></head>

<nav th:replace="fragments/navbar :: navbar"></nav>
<body class="bg-gray-100 flex flex-col min-h-screen">

<div class="flex-grow container mx-auto p-6">

    <!-- Botón para crear solicitud alineado a la derecha -->
    <div class="flex justify-end mb-6">
        <a th:href="@{/procesoJudiciales/get}"
           class="bg-blue-600 text-white px-4 py-2 rounded-md hover:bg-blue-700 transition-colors duration-200">
            Nuevo N° Expediente
        </a>
    </div>

    <div class="container mx-auto p-6">
        <h1 class="text-2xl font-bold mb-4">Listado de Procesos Judiciales</h1>
        <table class="min-w-full bg-white border border-gray-300">
            <thead>
            <tr class="bg-gray-200 text-gray-700 text-left">
                <th class="py-2 px-4 border-b">EXPEDIENTE</th>
                <th class="py-2 px-4 border-b">MATERIA</th>
                <th class="py-2 px-4 border-b">MONTO</th>
                <th class="py-2 px-4 border-b">TIPO MONEDA</th>
                <th class="py-2 px-4 border-b">DEMANDANTE</th>
                <th class="py-2 px-4 border-b">DEMANDADO</th>
                <th class="py-2 px-4 border-b">ABOGADO</th>
                <th class="py-2 px-4 border-b">Editar</th>
                <th class="py-2 px-4 border-b">Movimientos</th>
            </tr>
            </thead>
            <tbody>
            <!-- Fila de ejemplo, agrega más filas según sea necesario -->
            <tr th:each="procesoJud, procesoJudicialesIndex: ${procesoJudicialesList}" class="hover:bg-gray-100">
                <td class="py-2 px-4 border-b" th:text="${procesoJud.numExpediente}"></td>
                <td class="py-2 px-4 border-b" th:text="${procesoJud.materia}"></td>
                <td class="py-2 px-4 border-b" th:text="${procesoJud.monto}"></td>
                <td class="py-2 px-4 border-b" th:text="${procesoJud.tipoMoneda}"></td>
                <td class="py-2 px-4 border-b" th:text="${procesoJud.demandante}"></td>
                <td class="py-2 px-4 border-b" th:text="${procesoJud.demandado}"></td>
                <td class="py-2 px-4 border-b" th:text="${procesoJud.abogado}"></td>
                <td class="py-2 px-4 border-b text-center">
                    <a href="javascript:void(0);"
                       th:onclick="'abrirModalProcesoJudicial(' + ${procesoJud.idProcesoJudicial}+ ')'"
                       class="text-sm bg-indigo-600 hover:bg-indigo-400 text-white font-bold py-2 px-4 rounded-md transition-colors duration-200">
                        <i class="fa-regular fa-pen-to-square"></i>
                    </a>
                </td>
                <td class="py-2 px-4 border-b text-center">
                    <a   th:href="@{'/procesoJudiciales/details/' + ${procesoJud.idProcesoJudicial}}"
                       class="text-sm bg-indigo-600 hover:bg-indigo-400 text-white font-bold py-2 px-4 rounded-md transition-colors duration-200">
                        <i class="fa-solid fa-worm"></i>
                        <!--                        Editar-->
                    </a>
                </td>

            </tr>

            </tbody>
        </table>
    </div>

</div>


<!-- Modal -->
<div class="fixed inset-0 z-50 flex items-center justify-center bg-gray-900 bg-opacity-50 hidden" id="procesoJudicialesModal"
     role="dialog" aria-hidden="true">
    <div class="bg-white rounded-lg shadow-lg max-w-md w-full mx-4">


        <!-- Modal Body -->
        <div id="modalProcesoJudicialesContent" class="px-4 py-3">
            <!-- Aquí se cargará el contenido dinámico -->
        </div>

    </div>
</div>
<!--Fin  Modal -->

</body>
<script src="/js/procesoJudiciales/procesoJudiciales.js"></script>
<footer th:replace="fragments/footer :: footer" class="bg-gray-800 text-white py-4"></footer>
</html>